#!/bin/sh

# shellcheck disable=SC2034

DOMAIN_NAME="local.test"
ROOT_CA_PEM="/path/to/root-ca.pem"

ADMIN_USERNAME="admin"
ADMIN_PASSWORD="password"

POSTGRES_PASSWORD="xxxxxxxxxxxxxxxx"
POSTGRES_DATABASES="zitadel"

ZITADEL_S3_ACCESS_KEY_ID="zitadel"
ZITADEL_S3_SECRET_ACCESS_KEY="xxxxxxxxxxxxxxxx"

MINIO_APPS="${ZITADEL_S3_ACCESS_KEY_ID}:${ZITADEL_S3_SECRET_ACCESS_KEY}"
MINIO_ROOT_USER="admin"
MINIO_ROOT_PASSWORD="password"

ZITADEL_MASTERKEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"