#!/bin/sh

# shellcheck disable=SC2034

DOMAIN_NAME="local.test"
ROOT_CA_PEM="/path/to/root-ca.pem"

ADMIN_USERNAME="admin"
ADMIN_PASSWORD="password"

POSTGRES_PASSWORD="xxxxxxxxxxxxxxxx"
POSTGRES_DATABASES="authentik"

AUTHENTIK_SECRET_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

AUTHENTIK_STORAGE__MEDIA__S3__ACCESS_KEY="authentik"
AUTHENTIK_STORAGE__MEDIA__S3__SECRET_KEY="xxxxxxxxxxxxxxxx"

MINIO_APPS="${AUTHENTIK_STORAGE__MEDIA__S3__ACCESS_KEY}:${AUTHENTIK_STORAGE__MEDIA__S3__SECRET_KEY}"
MINIO_ROOT_USER="admin"
MINIO_ROOT_PASSWORD="password"
