#!/bin/sh

# shellcheck disable=SC2034

DOMAIN_NAME="local.test"
ROOT_CA_PEM="/path/to/root-ca.pem"

ADMIN_USERNAME="admin"
ADMIN_PASSWORD="password"

POSTGRES_PASSWORD="xxxxxxxxxxxxxxxx"
POSTGRES_DATABASES="zitadel"

MINIO_ROOT_USER="admin"
MINIO_ROOT_PASSWORD="password"
